@import 'utils';

html {
  font-size: $smallFontSize;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: $textColor;

  @include medium {
    font-size: $mediumFontSize;
  }

  @include big {
    font-size: $fontSize;
  }
}

body {
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
  color: $textColor;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: rem(48px);
  font-weight: 400;
}

h2 {
  font-size: rem(36px);
  font-weight: 400;
}

h3 {
  font-size: rem(28px);
  font-weight: 400;
}

h4 {
  font-size: rem(24px);
  font-weight: 400;
}

h5 {
  font-size: rem(20px);
  font-weight: 700;
}

h6 {
  font-size: 1.1rem;
  font-weight: 400;
}

p {
  color: $textColor;
  text-align: justify;
  line-height: 1.4;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

button,
a {
  font-family: inherit;
  color: inherit;
  outline: 0;
  text-decoration: none;
  transition: transform 0.075s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

p a {
  color: $blue;
  transform: none;
  text-decoration: underline;
  text-decoration-color: rgba($blue, 0);
  transition: text-decoration-color 0.1s ease-out;

  &:hover {
    text-decoration-color: rgba($blue, 0.6);
  }
}

li {
  line-height: 1.5;
}
