// Sizes
$containerMaxWidth: 1200px;
$fontSize: 20px;
$mediumFontSize: 18px;
$smallFontSize: 16px;
$margin: 1.5rem;

// Breakpoints
$mediumWidth: 768px;
$multiColumnWidth: 1024px;
$bigWidth: 1300px;

// Colors
$veryLightGrey: #dddddd;
$lightGrey: #d0d0d0;
$grey: #858585;
$darkGrey: #444444;
$blueGrey: #8899aa;
$blue: #4b72ff;
$lightBlue: #8dacff;

// Color placements
$dividerColor: $veryLightGrey;
$articleBackground: #ffffff;
$textColor: $darkGrey;
