@import 'utils';

.Post {
  color: $darkGrey;
  padding: ($margin * 1.5) $margin 0;
  overflow: hidden;
  transition: transform 0.15s ease-out, box-shadow 0.1s ease-out,
    background 0.1s ease-out, border-radius 0.1s ease-out;
  border-bottom: 1px solid $dividerColor;
  font-size: 101%;

  &:hover {
    transform: scale(1.0075);
    background: lighten($veryLightGrey, 2%);
    border: 0;
    border-radius: 10px;
    box-shadow: -3px 3px 50px rgba(0, 0, 0, 0.1);
  }

  .MediaImage {
    margin-bottom: 0 !important;
  }
}

.ButtonContainer {
  @include articleWidth;
  display: flex;
  flex-direction: column;
}

.PostButton {
  @include Button;
  display: block;
  margin: 0 auto $margin;
  text-transform: uppercase;
}

.Message {
  border-bottom: 1px solid $dividerColor;
  padding: ($margin - 0.25rem) $margin 0;

  .MediaImage {
    display: block;
    margin-top: $margin / 1.5;
    margin-bottom: 0;
    min-width: 0;
    @include articleWidth;
  }

  .ArticleBody {
    margin-top: ($margin / 2);
    margin-bottom: ($margin / 2);
  }

  .AuthorDisplay {
    @include articleWidth;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &.InPostListing {
  }

  &.HighlightedMessage {
    margin: 0 -1rem $margin;
    max-width: none;
    background: $blue;
    color: white;
    border-radius: 0;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    font-size: 0.875rem;
    transform: none;
    transition: none;
    border: 0;

    @include medium {
      display: flex;
      justify-content: space-between;
    }

    @include multiColumn {
      position: fixed;
      z-index: 100;
      width: 100vw;
      margin: 0;
      top: 0;
      left: 0;
      padding: 0.5rem $margin * 2 0.75rem $margin;
    }

    @media screen and (min-width: 1500px) {
      max-width: 1490px;
      left: 50%;
      transform: translate(-50%, 0);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .PostTags {
      margin-top: 0.1em;
      margin-right: $margin;
      color: white;
      margin-bottom: 0.5rem;

      @include medium {
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;
      }
    }

    .AuthorDisplay,
    .MediaImage,
    .PostMeta {
      display: none;
    }

    .ArticleBody {
      margin: 0;

      p {
        margin: 0;
      }
    }

    a {
      color: inherit;
    }
  }
}

.NoEffectMessage {
  &:hover {
    transform: none;
    box-shadow: none;
  }
}

.ArticleHeading {
  margin: ($margin / 1.5) 0 1rem;
  color: inherit;
  font-size: rem(48px);
  font-weight: 700;
  @include articleWidth;
}

.PostLink {
  text-decoration: none !important;
  color: inherit;
  display: inline !important;
  transform: none !important;
  transition: none !important;
  outline: 0;
}

.PostTags {
  color: $blue;
  font-size: 0.875rem;
  font-weight: 400;
  @include articleWidth;

  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 ($margin / 2);
    padding: 0;
  }

  li {
    list-style: none;
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;

    &:first-child {
      font-weight: 700;
    }

    &:after {
      content: '/';
      font-weight: 400;
      margin: 0 0.25rem;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
  }
}

.TimeDisplay {
  color: $grey;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: flex-start;
  font-size: rem(14px);
  font-weight: 400;

  @include multiColumn {
    font-size: rem(16px);
    white-space: normal;
  }

  svg {
    margin-right: 0.75rem;
    margin-bottom: 2px;
    width: 0.95rem;
    height: 0.95rem;

    @include medium {
      width: 1rem;
      height: 1rem;
      margin-bottom: -1px;
    }
  }
}

.AuthorDisplay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: rem(16px);
  font-weight: 400;
  color: $grey;

  @include multiColumn {
    font-size: rem(18px);
  }

  img {
    display: block;
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    overflow: hidden;

    @include big {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &:hover {
    transform: none;
    // TODO: Author hover styles
  }
}

.PostMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: ($margin / 2) (-$margin) 1rem;
  padding: 0.5rem 0;
  @include articleWidth;
}

.MessageMeta {
  border-bottom: 0;
  font-size: rem(14px);
  background: transparent;
  max-width: none;
  margin: 0 (-$margin) 0;
  padding: 1rem $margin;

  @include multiColumn {
    padding: 1rem 0;
  }

  .TimeDisplay {
    svg {
      margin-right: 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .PostTags {
    max-width: none;
    margin: 0;

    ul {
      margin: 0;
    }
  }
}

.MessageMetaContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include articleWidth;
}

.MediaImage {
  display: block;
  min-width: 100%;
  margin: 0 (-$margin) $margin;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ArticleBody {
  color: $textColor;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 0.005rem;
  margin: ($margin / 2) 0 $margin;
  font-size: rem(20px);
  @include articleWidth;

  p {
    color: inherit;
  }

  img {
    max-width: 100%;
    display: block;
    margin: $margin 0;
  }
}

.ArticleIngress {
  font-size: 1.275rem;
  font-weight: 400;
}

.ArticleExcerpt {
  margin: $margin / 1.5 0;
}

.ArticlePage {
  padding-top: 0;

  .PostMeta {
    background: transparent;
    border: 0;
    padding: 0;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  .ArticleHeading,
  .ArticleBody,
  .PostMeta,
  .PostTags {
    @include articleWidth;
  }
}
