@import '~normalize.css';

* {
  box-sizing: border-box;
}

@import 'utils';
@import 'typography';

:root {
  --veryLightGrey: #{$veryLightGrey};
  --lightGrey: #{$lightGrey};
  --darkGrey: #{$darkGrey};
  --blueGrey: #{$blueGrey};
  --blue: #{$blue};
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(149, 236, 255, 0.05) 20%,
    rgba(84, 151, 216, 0.08) 80%
  );
  background-position: bottom right;
  background-attachment: fixed;
  overflow-y: scroll;
}

img {
  max-width: 100%;
}
