@import '~normalize.css';

* {
  box-sizing: border-box;
}

@import 'utils';
@import 'typography';

:root {
  --veryLightGrey: #{$veryLightGrey};
  --lightGrey: #{$lightGrey};
  --darkGrey: #{$darkGrey};
  --blueGrey: #{$blueGrey};
  --blue: #{$blue};
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $veryLightGrey;
  overflow-y: scroll;
}

img {
  max-width: 100%;
}
