@import '~normalize.css';

* {
  box-sizing: border-box;
}

@import 'utils';
@import 'typography';

:root {
  --veryLightGrey: #{$veryLightGrey};
  --lightGrey: #{$lightGrey};
  --darkGrey: #{$darkGrey};
  --blueGrey: #{$blueGrey};
  --blue: #{$blue};
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    ellipse at 100% 100%,
    rgba(150, 110, 255, 0.125) 0%,
    rgba(116, 157, 237, 0.125) 20%,
    rgba(177, 220, 237, 0.125) 70%,
    rgba(187, 145, 255, 0.125) 100%
  );
  background-position: bottom right;
  background-attachment: fixed;
  overflow-y: scroll;
}

img {
  max-width: 100%;
}
